@font-face {
  font-family: 'noto-sans';
  src: url(./font/NotoSansKR-VariableFont_wght.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  max-width: 600px;
  margin: 0px auto;
  box-sizing: border-box;
  font-family: 'noto-sans';
}
.body-container{
  /* background-color: #21212f; */
}

/* ////////////////////////////푸터 */

.footer-nav{
  display: flex;
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  /* padding-bottom: calc(env(safe-area-inset-bottom) + 0px); */
  background-color: #1A2D34;
  box-sizing: border-box;
  z-index: 550;
  max-width: 600px;
  margin: 0px auto;

}

.nav-btn{
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 33%;
  height: 60px;
  position: relative;
  text-decoration-line: none;
  color:white;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  /* margin-top: 5rem; */
}

.modal-open-button, .modal-close-btn {
  cursor: pointer;
  margin-left: auto;
}

/* .modal-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
} */

.modal-content {
  background-color: #ffffff;
  width: 250px;
  height: 150px;
  padding: 15px;
}